/* Основной контейнер */
.third-container {
  flex-shrink: 0;
  background-color: white;
  border: 1px solid #42C2F4;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
   flex: 1;
}

/* Стили шапки */
.third-header {
  background-color: #42C2F4;
  color: white;
  padding: 14px 20px;
  text-align: left;
  font-weight: 600;
  border-radius: 6px 6px 0 0;
  margin: -10px -10px 12px -10px;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #0D47A1; /* Граница под шапкой */
}

/* Стили для контейнера "ОБЪЕМ ТРАНЗАКЦИЙ" и кнопок */
.volume-and-buttons {
  display: flex;
  flex-direction: column; /* Размещаем элементы вертикально */
  align-items: center; /* Выравниваем элементы по центру горизонтально */
  margin-bottom: 10px; /* Отступ снизу */
}

/* Стили для текста "ОБЪЕМ ТРАНЗАКЦИЙ" */
.volume-text {
  font-size: 1.2em;
  margin-bottom: 5px; /* Отступ снизу от текста до кнопок */
}

/* Стили для контейнера кнопок */
.diagram-buttons {
  display: flex;
  gap: 20px; /* Расстояние между вариантами */
  align-items: center;
}

.toggle-option {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 1em;
  color: #555;
  transition: all 0.3s ease;
}

.toggle-option:hover {
  color: #000;
}

.toggle-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #42C2F4;
  transition: all 0.3s ease;
}

.toggle-option.active .toggle-circle {
  background-color: #42C2F4; /* Заливка для активного */
  border-color: #42C2F4;
}

.toggle-option.active {
  color: #000;
  font-weight: 500;
}

/* Основной блок содержимого */
.third-main-block {
  background: white;
  border-radius: 6px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border: 1px solid #2196F3; /* Синяя граница */
  padding: 20px;
  transition: all 0.3s ease;
}
